.fact-cards-container {
    display: inline-flex;
    flex-flow: row wrap;
    text-align: justify;
    width: 100%;
}

.fact-card {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.fact-card-title {
    font-weight: bold;
}

.fact-card-details {

}