<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideNav()"><mat-icon>menu</mat-icon></button>
      <span>nCov Peek</span>
      <mat-icon >bug_report</mat-icon>
      <span class="spacer"></span>
      <span style="background-color: white; color: #c2185b; border-radius: 3px; padding: 0px 10px 0px 10px">
        <div class="live-icon"></div>
        <span>Live</span>
      </span>
      
    </mat-toolbar-row>
</mat-toolbar>