<div class="footer">
  <mat-toolbar color="primary" class="mat-elevation-z8" style="z-index: 100">
    <mat-toolbar-row style="font-size: small;">
      <span class="spacer"></span>
      <div style="text-align: center">
        <span>
          <a href="{{sourceCodeURL}}" target="_blank">GitHub</a> | 
          <a href="{{dataSourceURL}}" target="_blank">Data Source</a> (Credit to <a href="https://www.jhu.edu/" target="_blank">Johns Hopkins University)</a></span>
        <br/>
        <span>
          Powered by
          <a href="https://angular.io/" target="_blank">Angular 8</a> | 
          <a href="https://material.angular.io/" target="_blank">Angular Material 9</a> | 
          <a href="https://developers.google.com/chart" target="_blank">Google Charts</a>
        </span>
      </div>
      <span class="spacer"></span>
      
    </mat-toolbar-row>
  </mat-toolbar>
</div>